{% extends 'base.html' %}
{% load static i18n %}
{% block content %}

    <!-- ne inner title start -->
    <div class="ne_inner_title_main_section">
        <div class="ne_inner_title_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs">
                    <div class="ne_ts_inner_wrapper ne_ts_title_inner_wrapper">
                        <div class="ne_tran_label_wrapper">
                            <h3>{% trans "Trending" %}</h3>
                        </div>
                        <div class="ne_tranding_slider_wrapper">
                            <div class="owl-carousel owl-theme">
                                {% for trend in trending %}
                                    <div class="item">
                                        <div class="ne_ts_inner_content">
                                            <p>{{ trend.title }}</p>
                                            <h3 class="hidden-sm"><i class="fa fa-calendar"></i> &nbsp; {{ trend.datetime|date:"d M, Y" }}</h3>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ne inner title End -->
    <!--resent news Start-->
    <div class="ne_recent_news_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="ne_recent_left_side_wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    {% if life_style %}
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="ne_busness_main_slider_wrapper">
                                                        <div class="ne_recent_heading_main_wrapper">
                                                            <h2>{{ life_style.name }}</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="ne_sport_slider_wrapper">
                                                        <div class="owl-carousel owl-theme">
                                                            <div class="item">
                                                                <div class="row">
                                                                    {% for blog1,blog2,blog3 in life_style.get_group_blogs_3 %}
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="ne_re_left_top_main_wrapper">
                                                                                <div class="ne_re_left_img_main_wrapper yellow">
                                                                                    <img src="{{ blog1.imageURL }}" alt="img">
                                                                                    <h2>{{ life_style.name }}</h2>
                                                                                </div>
                                                                                <div class="ne_re_left_img_cont_main_wrapper">
                                                                                    <h3><a href="{% url 'blog_detail' blog1.id%}">{{ blog1.title }}</a></h3>
                                                                                    <ul class="ne_re_social1_wrapper">
                                                                                        <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-calendar"></i> &nbsp;{{ blog1.datetime|date:"d M, Y" }}</a>
                                                                                        </li>
                                                                                    </ul>
                                                                                    <p>{{ blog1.text }}</p>
                                                                                    <ul class="ne_re_social2_wrapper">
                                                                                        <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-thumbs-up"></i> &nbsp;{{ blog1.like.count }} Like</a>
                                                                                        </li>
                                                                                        <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-comments"></i> &nbsp;645 Comments</a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                            <div class="ne_re_left_bottom_main_wrapper ne_re_left_bottom_main_wrapper_top2">
                                                                                <div class="ne_ls_bottom_img">
                                                                                    <img src="{{ blog2.imageURL }}" alt="rs_img">
                                                                                </div>
                                                                                <div class="ne_ls_bottom_img_cont">
                                                                                    <h3><a href="{% url 'blog_detail' blog2.id %}">{{ blog2.title }}</a></h3>
                                                                                    <p><a href="#"><i class="fa fa-calendar"></i> &nbsp; {{ blog2.datetime|date:"d M, Y"}}</a>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                            <div class="ne_re_left_bottom_main_wrapper ne_re_left_bottom_main_wrapper_top2">
                                                                                <div class="ne_ls_bottom_img">
                                                                                    <img src="{{ blog3.imageURL }}" alt="rs_img">
                                                                                </div>
                                                                                <div class="ne_ls_bottom_img_cont">
                                                                                    <h3><a href="{% url 'blog_detail' blog3.id %}">{{ blog3.title }}</a></h3>
                                                                                    <p><a href="#"><i class="fa fa-calendar"></i> &nbsp; {{ blog3.datetime|date:"d M, Y"}}</a>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}  

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="ne_busness_main_slider_wrapper ne_busness_main_slider_wrapper_lifestyle_heading">
                                            <div class="ne_recent_heading_main_wrapper">
                                                <h2>business and sport</h2>
                                            </div>  
                                        </div>
                                    </div>
                                    {% if business %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            {% for i in business.blog_set.all %}
                                                <div class="ne_re_left_top_main_wrapper ne_re_left_top_main_wrapper_lifestyle">
                                                    <div class="ne_re_left_img_main_wrapper">
                                                        <img src="{{ i.imageURL }}" alt="img">
                                                        <h2>{{ i.category.name }}</h2>
                                                    </div>
                                                    <div class="ne_re_left_img_cont_main_wrapper">
                                                        <h3><a href="{% url 'blog_detail' i.id %}">{{ i.title }}</a></h3>
                                                        <ul class="ne_re_social1_wrapper">
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-calendar"></i> &nbsp; {{ i.datetime|date:"d M, Y"}}</a>
                                                            </li>
                                                        </ul>
                                                        <p>{{ i.text|truncatewords:10 }}</p>
                                                        <ul class="ne_re_social2_wrapper">
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-thumbs-up"></i> &nbsp; {{ i.like.count }} Like</a>
                                                            </li>
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-comments"></i> &nbsp;645 Comments</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}


                                    {% if sport %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            {% for i in sport.blog_set.all %}
                                                <div class="ne_re_left_top_main_wrapper ne_re_left_top_main_wrapper_lifestyle">
                                                    <div class="ne_re_left_img_main_wrapper ne_re_left_img_main_wrapper2">
                                                        <img src="{{ i.imageURL }}" alt="img">
                                                        <h2>{{ i.category.name }}</h2>
                                                    </div>
                                                    <div class="ne_re_left_img_cont_main_wrapper">
                                                        <h3><a href="{% url 'blog_detail' i.id  %}">{{ i.title }}</a></h3>
                                                        <ul class="ne_re_social1_wrapper">
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-calendar"></i> &nbsp; {{ i.datetime|date:"d M, Y"}}</a>
                                                            </li>
                                                        </ul>
                                                        <p>{{ i.text|truncatewords:10 }}</p>
                                                        <ul class="ne_re_social2_wrapper">
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-thumbs-up"></i> &nbsp; {{ i.like.count}} Like</a>
                                                            </li>
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-comments"></i> &nbsp;645 Comments</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="pager_wrapper prs_blog_pagi_wrapper">
                                    <ul class="pagination">
                                        <li><a href="#"><i class="fa fa-angle-left"></i></a>
                                        </li>
                                        <li class="btc_shop_pagi"><a href="#">01</a>
                                        </li>
                                        <li class="btc_shop_pagi"><a href="#">02</a>
                                        </li>
                                        <li class="btc_third_pegi btc_shop_pagi"><a href="#">03</a>
                                        </li>
                                        <li class="hidden-xs btc_shop_pagi"><a href="#">04</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="ne_indx_sidebar_main_wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="ne_sidebar_inner_social_wrapper ne_sidebar_second_inner_social_wrapper ne_sidebar_inner_social_wrapper_hide_res_weather
								ne_sidebar_lifestyle_inner_social_wrapper">
                                    <div class="ne_recent_heading_main_wrapper font_18px">
                                        <h2>Today weather</h2>
                                    </div>
                                    <div class="ne_weather_inner_wrapper">
                                        <div id="current" class="wrapper">
                                            <h1 class="location">Tashkent </h1>
                                            <h2 class="date">Sunday, January 1, 2022</h2>
                                            <p class="weather_img">
                                                <img src="{% static 'images/content/weather_img.png' %}" alt="weather">
                                            </p>
                                            <p class="temp">72</p>
                                            <p class="conditions">Sunny</p>
                                        </div>
                                        <!-- Future Forecast -->
                                        <div id="future" class="wrapper">
                                            <div class="container">
                                                <h3 class="day">Mon</h3>
                                                <p class="weather_img2">
                                                    <img src="{% static 'images/content/weather_img2.png' %}" alt="weather">
                                                </p>
                                                <p class="tempRange"><span class="high">64</span> <span class="low">48</span>
                                                </p>
                                            </div>
                                            <div class="container">
                                                <h3 class="day">Tue</h3>
                                                <p class="weather_img2">
                                                    <img src="{% static 'images/content/weather_img3.png' %}" alt="weather">
                                                </p>
                                                <p class="tempRange"><span class="high">57</span> <span class="low">45</span>
                                                </p>
                                            </div>
                                            <div class="container">
                                                <h3 class="day">Wed</h3>
                                                <p class="weather_img2">
                                                    <img src="{% static 'images/content/weather_img4.png' %}" alt="weather">
                                                </p>
                                                <p class="tempRange"><span class="high">63</span> <span class="low">59</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="ne_sidebar_inner_social_wrapper ne_sidebar_second_inner_social_wrapper">
                                    <div class="ne_recent_heading_main_wrapper font_18px">
                                        <h2>Latest News</h2>
                                    </div>
                                    <div class="ne_lns_slider_wrapper ne_ln_main_sidebar_slider_wrapper">
                                        <div class="owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="ne_wn_img_main_wrapper ne_ln_inner_img_main_wrapper ne_re_left_img_main_wrapper2">
                                                    <div class="ne_wn_img_overlay"></div>
                                                    <h2>sport</h2>
                                                    <div class="ne_wn_social_inner_wrapper">
                                                        <h3><a href="#">Award of the year</a></h3>
                                                        <ul class="ne_wn_social1_wrapper">
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-calendar"></i> &nbsp;25 OCT, 2022</a>
                                                            </li>
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-clock-o"></i> &nbsp;07 : 00 am</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="ne_wn_img_main_wrapper ne_ln_inner_img_main_wrapper ne_re_left_img_main_wrapper2">
                                                    <div class="ne_wn_img_overlay"></div>
                                                    <h2>sport</h2>
                                                    <div class="ne_wn_social_inner_wrapper">
                                                        <h3><a href="#">The clock is ticking </a></h3>
                                                        <ul class="ne_wn_social1_wrapper">
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-calendar"></i> &nbsp;25 OCT, 2022</a>
                                                            </li>
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-clock-o"></i> &nbsp;07 : 00 am</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="ne_wn_img_main_wrapper ne_ln_inner_img_main_wrapper ne_re_left_img_main_wrapper2">
                                                    <div class="ne_wn_img_overlay"></div>
                                                    <h2>sport</h2>
                                                    <div class="ne_wn_social_inner_wrapper">
                                                        <h3><a href="#">The clock is ticking </a></h3>
                                                        <ul class="ne_wn_social1_wrapper">
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-calendar"></i> &nbsp;25 OCT, 2022</a>
                                                            </li>
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-clock-o"></i> &nbsp;07 : 00 am</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="ne_sidebar_inner_social_wrapper ne_sidebar_second_inner_social_wrapper">
                                    <div class="ne_recent_heading_main_wrapper font_18px">
                                        <h2>Categories</h2>
                                    </div>
                                    <div class="ne_sidebar_cate_list_wrappper">
                                        <ul>
                                            <li><a href="{% url 'life_style' %}"><i class="fa fa-square"></i> &nbsp;&nbsp;Lifestyle <span>50014</span>
											</a></li>
                                            <li><a href="{% url 'sport' %}"><i class="fa fa-square"></i> &nbsp;&nbsp;Sports <span>2545</span>
											</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="ne_sidebar_inner_social_wrapper ne_sidebar_second_inner_social_wrapper">
                                    <div class="ne_recent_heading_main_wrapper font_18px">
                                        <h2>Advertising</h2>
                                    </div>
                                    <div class="ne_sidebar_advertize_main_wrapper">
                                        <a href="#">
                                            <img src="{% static 'images/content/advertiz.jpg' %}" alt="img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="ne_sidebar_inner_social_wrapper ne_sidebar_second_inner_social_wrapper">
                                    <div class="ne_recent_heading_main_wrapper font_18px">
                                        <h2>Recent Posts</h2>
                                    </div>
                                    {% if life_style %}
                                        <div class="ne_re_left_bottom_main_wrapper ne_pc_main_cont_wrapper">
                                            {% for blog in life_style.blog_set.all %}
                                                <div class="ne_pc_bottom_img">
                                                    <img src="{{ blog.imageURL }}" alt="rs_img">
                                                </div>
                                                <div class="ne_pc_bottom_img_cont">
                                                    <h3><a href="#">{{ blog.title }}</a></h3>
                                                    <p><a href="#"><i class="fa fa-calendar"></i> &nbsp; {{ blog.datetime|date:"d M, Y"}}</a>
                                                    </p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="ne_sidebar_inner_social_wrapper ne_sidebar_second_inner_social_wrapper">
                                    <div class="ne_recent_heading_main_wrapper font_18px">
                                        <h2>Latest Articles</h2>
                                    </div>
                                    {% for i in blogs %}
                                        <div class="ne_wn_img_main_wrapper ne_ln_inner_img_main_wrapper ne_re_left_img_main_wrapper2 bab">
                                            <!-- <div class="ne_wn_img_overlay"></div> -->
                                                <a href="#">
                                                    <img src="{{ i.imageURL }}" alt="img">
                                                </a>
                                            <div class="ne_wn_social_inner_wrapper">
                                                <h3><a href="#">{{ i.title }}</a></h3>
                                                <ul class="ne_wn_social1_wrapper">
                                                    <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-calendar"></i> &nbsp; {{ i.datetime|date:"d M, Y" }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="ne_re_left_bottom_main_wrapper ne_pc_main_cont_wrapper3">
                                        <div class="ne_pc_bottom_img">
                                            <img src="{% static 'images/content/pc6.jpg' %}" alt="rs_img">
                                        </div>
                                        <div class="ne_pc_bottom_img_cont">
                                            <h3><a href="#">Etiam dignissim aliquet velit sed.</a></h3>
                                            <p><a href="#"><i class="fa fa-calendar"></i> &nbsp;25 OCT, 2022</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="ne_sidebar_inner_social_wrapper ne_sidebar_second_inner_social_wrapper">
                                    <div class="ne_recent_heading_main_wrapper font_18px">
                                        <h2>Find us on Facebook</h2>
                                    </div>
                                    <div class="ne_sidebar_faceb_section_img">
                                        <div class="ne_inva_img_overlay"></div>
                                        <img src="{% static 'images/content/facebook_img.jpg' %}" alt="img">
                                        <div class="ne_inva_main_wrapper">
                                            <div class="ne_inva_img_wrapper">
                                                <img src="{% static 'images/content/envato_img.jpg' %}" alt="img">
                                            </div>
                                            <div class="ne_inva_img_cont_wrapper">
                                                <h3>Envato</h3>
                                                <h4>175,848 likes</h4>
                                            </div>
                                        </div>
                                        <h5><a href="#"><i class="fa fa-facebook-square"></i> &nbsp;Like</a></h5>
                                    </div>
                                    <div class="ne_fb_online_section_wrapper">
                                        <p>You and 122 other friend like this</p>
                                        <ul>
                                            <li>
                                                <img src="{% static 'images/content/fb1.jpg' %}" alt="img">
                                            </li>
                                            <li>
                                                <img src="{% static 'images/content/fb2.jpg' %}" alt="img">
                                            </li>
                                            <li>
                                                <img src="{% static 'images/content/fb3.jpg' %}" alt="img">
                                            </li>
                                            <li>
                                                <img src="{% static 'images/content/fb4.jpg' %}" alt="img">
                                            </li>
                                            <li>
                                                <img src="{% static 'images/content/fb5.jpg' %}" alt="img">
                                            </li>
                                            <li>
                                                <img src="{% static 'images/content/fb6.jpg' %}" alt="img">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="ne_sidebar_inner_social_wrapper ne_sidebar_second_inner_social_wrapper">
                                    <div class="ne_recent_heading_main_wrapper font_18px">
                                        <h2>Get Even More</h2>
                                    </div>
                                    <div class="ne_sidebar_serch_main_wrapper">
                                        <p>"Get all latest content delivered straight to your inbox."</p>
                                        <div class="ne_sidebar_search_aaauch"> <i class="fa fa-envelope input_icon"></i>
                                            <input type="email" placeholder="your email address">
                                            <button><i class="fa fa-location-arrow"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="ne_sidebar_inner_social_wrapper ne_sidebar_second_inner_social_wrapper">
                                    <div class="ne_recent_heading_main_wrapper font_18px">
                                        <h2>latest reviews</h2>
                                    </div>
                                    <div class="ne_lr_main_section_wrapper">
                                        <div class="ne_lr_img_wrapper">
                                            <img src="{% static 'images/content/lr1.jpg' %}" alt="img">
                                        </div>
                                        <div class="ne_lr_img_cont_wrapper">
                                            <div class="ne_lr_star_dev_wrapper hidden-md"> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="ne_lr_star_right_section hidden-md">
                                                <h4>5.0</h4>
                                            </div>
                                            <div class="ne_lr_img_cont_heading_wrapper">
                                                <h3><a href="#">Velebrity Fashion</a></h3>
                                                <p>NewsX is a Creative and Unique</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ne_lr_main_section_wrapper ne_lr_main_section_wrapper2">
                                        <div class="ne_lr_img_wrapper">
                                            <img src="{% static 'images/content/lr2.jpg' %}" alt="img">
                                        </div>
                                        <div class="ne_lr_img_cont_wrapper">
                                            <div class="ne_lr_star_dev_wrapper hidden-md"> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                            <div class="ne_lr_star_right_section hidden-md">
                                                <h4>4.5</h4>
                                            </div>
                                            <div class="ne_lr_img_cont_heading_wrapper">
                                                <h3><a href="#">Easy teriyaki </a></h3>
                                                <p>NewsX is a Creative and Unique</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ne_lr_main_section_wrapper ne_lr_main_section_wrapper2">
                                        <div class="ne_lr_img_wrapper">
                                            <img src="{% static 'images/content/lr3.jpg' %}" alt="img">
                                        </div>
                                        <div class="ne_lr_img_cont_wrapper">
                                            <div class="ne_lr_star_dev_wrapper hidden-md"> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                            <div class="ne_lr_star_right_section hidden-md">
                                                <h4>3.5</h4>
                                            </div>
                                            <div class="ne_lr_img_cont_heading_wrapper">
                                                <h3><a href="#">Faangs diverge </a></h3>
                                                <p>NewsX is a Creative and Unique</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--resent news End-->
    <!-- prs patner slider Start -->
    <div class="prs_patner_main_section_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="prs_pn_slider_wraper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="prs_pn_img_wrapper">
                                    <img src="{% static 'images/content/p1.jpg' %}" alt="patner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="prs_pn_img_wrapper">
                                    <img src="{% static 'images/content/p2.jpg' %}" alt="patner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="prs_pn_img_wrapper">
                                    <img src="{% static 'images/content/p3.jpg' %}" alt="patner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="prs_pn_img_wrapper">
                                    <img src="{% static 'images/content/p4.jpg' %}" alt="patner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="prs_pn_img_wrapper">
                                    <img src="{% static 'images/content/p5.jpg' %}" alt="patner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="prs_pn_img_wrapper">
                                    <img src="{% static 'images/content/p6.jpg' %}" alt="patner_img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- prs patner slider End -->
{% endblock %}